
@{
    ViewData["Title"] = "Product";
}

<h4>Product</h4>
<button class="btn btn-primary btn-sm">New Product</button>
<br />
<br />
@{
    <div class="body table-responsive">
        <table class="table">
            <thead class="nestable-dark-theme">
                <tr>
                    <th>Product Id</th>
                    <th>Product Name</th>
                    <th colspan="2">Description</th>
                    <th>Unit Price</th>
                    <th>Quantity</th>
                    <th>Controls</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var product in Model)
                {
                    <tr>
                        <td>@product.Id</td>
                        <td>@product.Name</td>
                        <td colspan="2">@product.Description</td>
                        <td>@product.UnitPrice</td>
                        <td>@product.Quantity</td>
                        <td class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <i class="material-icons">menu</i>
                            </a>
                            <ul class="dropdown-menu pull-right">
                                <li>
                                    <a class="waves-effect waves-block edit-tenant"><i class="material-icons">edit</i>@L("Edit")</a>
                                </li>
                                <li>
                                    <form method="post">
                                        <input type="submit" class="btn btn-secondary waves-effect waves-block delete-tenant glyphicon glyphicon-trash" value="Remove" />
                                    </form>
                                </li>
                            </ul>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <br />
        <br />
    </div>
}


